#main-panel,.main-panel{
  border-radius: 10px;
  padding: 20px;
  background-color: #333;
  color: #FFF;
}

#group-panel{
	
}

legend{
	color: #FFF;border-bottom: 1px solid #7A7593;
}
legend h3{color:#7A7593}

.btn-checkbox{
  color:#7A7593;border:1px solid #7A7593
}
.btn-checkbox.active,.btn-checkbox:hover{
  color:#ccc;border:1px solid #ccc;z-index:1
}
.btn-checkbox.closed:hover:not(.active){
  color:#7A7593;border:1px solid #7A7593;z-index:0
}
.slider-hidden{
    transform: translateY(-30px);
    display: block;
    margin-bottom: 0;
    height: 0;
    opacity: 0;
}
#push-btn{
  transition: all 0.2s;-moz-transition: all 0.2s;-webkit-transition: all 0.2s;-o-transition: all 0.2s;
    border: 1px solid #7A7593;
    color: #7A7593;
    background: transparent;
    outline: 0;
    margin-top: 30px;
    margin-left: 45px;
}
#push-btn:hover{
    border: 1px solid #ccc;
    color: #ccc;
}