#main {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
}

legend {
    color: #FFF;
}

#img-box> img {
    max-height: 250px;
    margin: 12px auto;
}

#img-box {
    border-color: #FFF;
    border-width: 1px;
    border-style: dashed;
}
.row{
	margin-bottom: 20px;
}