#main {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
}

legend {
    color: #FFF;
}

#img-box> img {
    max-height: 250px;
    margin: 12px auto;
}

#img-box {
    border-color: #FFF;
    border-width: 1px;
    border-style: dashed;
}
.row{
	margin-bottom: 20px;
}
.btn-checkbox{
  color:#7A7593;border:1px solid #7A7593
}
.btn-checkbox.active,.btn-checkbox:hover{
  color:#ccc;border:1px solid #ccc;z-index:1
}
.btn-checkbox.closed:hover:not(.active){
  color:#7A7593;border:1px solid #7A7593;z-index:0
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before{
    font-size: 0.75%
}