#reg-panel{
  display: none;
}

#login-box{
	margin-top:15%;
  background-color: rgba(15,15,15,0.5);
  padding: 50px;
  border-radius: 15px;
  color: #FFF;
}
#login-box legend{
  color:#FFF;
}
#l-username,#l-password,#r-username,#r-password,#r-password2{
  background:none;
  color:#FFF;
}
#l-username::-webkit-input-placeholder,
#l-password::-webkit-input-placeholder,
#r-password::-webkit-input-placeholder,
#r-password2::-webkit-input-placeholder,
#r-username::-webkit-input-placeholder
{
  color: #FFF;
}
body{
    background-image: url(../img/login_back.jpg);
    background-size: cover;
}
